body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1, h5 {
    color: #343a40;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    border-radius: 10px;
}

.table {
    margin-top: 20px;
}

.table th, .table td {
    vertical-align: middle;
}

.btn-primary, .btn-danger {
    border-radius: 20px;
}

.modal-content {
    border-radius: 10px;
}

.list-group-item {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.list-group-item:nth-child(odd) {
    background-color: #f1f1f1;
}

.list-group-item:nth-child(even) {
    background-color: #e9ecef;
}
